$btn_radius: 12px;
$primary: #486ff3;
$backgroundColor: gray;

$maxMobileS: 599px;
$minMobileL: 600px;
$maxMobileL: 767px;
$minTablet: 768px;
$maxTablet: 1023px;
$minLaptop: 1024px;
$maxLaptop: 1439px;
